#### Salary data from a salary survey that contains completely unworkable data - with the purpose of cleaning it up to be used for a dashboard displaying the information and for gathering insights. df_filtered is the final dataframe

# cleaning dirty data

In [1]:
# importing data 
import pandas as pd
df = pd.read_csv('salary_survey.csv')
df.head(5)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [2]:
import numpy as np

In [3]:
# viewing columns
df.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')

In [4]:
# renaming columns
df = df.rename(columns={'Job title':'job title'})
df = df.rename(columns={'Timestamp':'timestamp'})   
df = df.rename(columns={'Please indicate the currency':'currency'})  
df = df.rename(columns={'How old are you?':'age'})
df = df.rename(columns={'What industry do you work in?':'industry'})
df = df.rename(columns={'If your job title needs additional context, please clarify here:':'job_title_context'})
df = df.rename(columns={'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.':'compensation'})
df = df.rename(columns={'What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)':'salary'})
df = df.rename(columns={'If \"Other,\" please indicate the currency here: ':'other_currency'})
df = df.rename(columns={'If your income needs additional context, please provide it here:':'income_context'})
df = df.rename(columns={'What country do you work in?':'country'})
df = df.rename(columns={'If you\'re in the U.S., what state do you work in?':'state'})
df = df.rename(columns={'What city do you work in?':'city'})
df = df.rename(columns={'How many years of professional work experience do you have overall?':'professional_experience_overall'})
df = df.rename(columns={'How many years of professional work experience do you have in your field?':'professional_experience_in_specified_field'})
df = df.rename(columns={'What is your highest level of education completed?':'education'})
df = df.rename(columns={'What is your gender?':'gender'})
df = df.rename(columns={'What is your race? (Choose all that apply.)':'race'})


# lowing job titles 
df['job title'] = df['job title'].str.lower()
df.head(5)

,timestamp,age,industry,job title,job_title_context,salary,compensation,currency,other_currency,income_context,country,state,city,professional_experience_overall,professional_experience_in_specified_field,education,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),research and instruction librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,change & internal communications manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",marketing specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,program manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",accounting manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [5]:
df.columns

Index(['timestamp', 'age', 'industry', 'job title', 'job_title_context',
       'salary', 'compensation', 'currency', 'other_currency',
       'income_context', 'country', 'state', 'city',
       'professional_experience_overall',
       'professional_experience_in_specified_field', 'education', 'gender',
       'race'],
      dtype='object')

In [6]:
holding = pd.DataFrame()

In [7]:
#is there going to be a feasible way to classify context?

In [8]:

# viewing data
df['income_context'].value_counts()

Hourly                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         4
Bonus not guaranteed                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3
Stock options                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3
RSUs                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3
I get to salary package and reduce my taxable income by $15,900 per year by paying for living expenses before tax - a benefit available for non-profits in Australia. This is approx. $5100 per year less tax for me to pay                                                                                                                                                                                                                                                                                                                                                                                                                                    3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ..
bonuses dependent on personal and company performance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
I am underpaid by $20k for my level of experience                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
I didn't calibrate at 40 hours a week because no massage therapist does hands on work for 40 hours a week. There's hourly pay for hands on hours only, and we have to do other work between sessions that is unpaid and folded into what we get paid for the sessions. So officially, a standard workweek is 24 hours a week, and that's what we're paid for, while doing about 18 hours of additional "unpaid" prep and charting. Our hourly rate is higher than it would otherwise be to account for these hours. But if I had given my hourly rate times 40 hours it would have come out to something that bore no resemblance to what I actually earn.     1
My income is salaried but weekly hourly expectations are 55-60 hours per week.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Band 2 (of three) of the independent schools multi-enterprise award agreement.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Name: income_context, Length: 2972, dtype: int64

# Selected, working through salary and compensation fields

In [9]:

selected = pd.DataFrame

In [10]:
# gathering columns relevant to income
selected= df[['compensation','salary','currency','income_context']].copy()

In [11]:
selected['salary'].dtypes

dtype('O')

# working through nan values

In [12]:
selected['compensation'].dtypes

dtype('float64')

In [13]:
# if null value in comp or salary field, replace with 0 
selected.loc[:, 'compensation'] = selected['compensation'].fillna(0)
selected.loc[:, 'salary'] = selected['salary'].fillna(0)

In [14]:
selected['salary'].dtypes

dtype('O')

In [15]:
# if salary is 1-3 digits, that means they entered hourly wage. We need to convert this to annual income
# hourly * 8 *5*4*12. 1920
#selected['salary'] = selected['salary'].apply(lambda x : x*1920 if len(x) < 4 else x)

In [16]:
#replace , in salary with blank space
selected.loc[:, 'salary'] = selected['salary'].astype(str)
selected.loc[:, 'salary'] = selected['salary'].str.replace(',', '')
selected.loc[:, 'salary'] = pd.to_numeric(selected['salary'], errors='coerce')
selected.loc[:, 'compensation'] = pd.to_numeric(selected['compensation'], errors='coerce')

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\2264406209.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  selected.loc[:, 'salary'] = pd.to_numeric(selected['salary'], errors='coerce')

In [17]:
selected['compensation'].dtypes

dtype('float64')

In [18]:
selected['salary'].describe()

count    2.799000e+04
mean     1.471574e+05
std      5.414601e+06
min      0.000000e+00
25%      5.400000e+04
50%      7.500000e+04
75%      1.100000e+05
max      8.700000e+08
Name: salary, dtype: float64

In [19]:
# you need to convert the hourly salary answers into yearly answers
# assuming that every number under 1000 was meant to be hourly and not salary

selected.loc[:, 'salary'] = selected['salary'].apply(lambda x: x*1920 if x < 1000 else x)

In [20]:
selected['salary'].describe()

count    2.799000e+04
mean     1.477281e+05
std      5.414610e+06
min      0.000000e+00
25%      5.450000e+04
50%      7.600000e+04
75%      1.100000e+05
max      8.700000e+08
Name: salary, dtype: float64

In [21]:
selected.loc[:, 'compensation'] = selected['compensation'].round()

##Adding compensation to salary, going to need to remove the compensation and salary from df and add this one into it !

In [22]:
selected.loc[:,'total_salary'] = selected['compensation'] + selected['salary']

In [23]:
# taking the worked columns and placing them into main dataframe
df['total_salary'] = selected['total_salary']
df['salary'] = selected['salary']
df['compensation'] = selected['compensation']

In [24]:
#df.drop('total salary', axis = 1, inplace=True)

In [25]:
#holding_countries = holding_countries['country'].str.replace(pattern, 'United States',case=False,regex=True)

In [26]:
# one option to change the different usa rows would be to use a mapping function, the next you could
# maybe try regex to see if that works?


# holding_united = df['country'].replace(country_mapping)

In [27]:
df.columns

Index(['timestamp', 'age', 'industry', 'job title', 'job_title_context',
       'salary', 'compensation', 'currency', 'other_currency',
       'income_context', 'country', 'state', 'city',
       'professional_experience_overall',
       'professional_experience_in_specified_field', 'education', 'gender',
       'race', 'total_salary'],
      dtype='object')

In [28]:
# cleaning expierence columns 
# a way to split the rows, take 0 and 2 index location 
# not all values have a space between them 
# is there going to be a way to pass both dataframes?
#

# professional expierence column work

In [29]:
# dataframe to hold the 2 columns i want to work with
professional_experience = df[['professional_experience_overall','professional_experience_in_specified_field']]

In [30]:
professional_experience['professional_experience_in_specified_field'].value_counts()

11 - 20 years       6525
5-7 years           6506
2 - 4 years         6237
8 - 10 years        4966
21 - 30 years       1866
1 year or less      1469
31 - 40 years        381
41 years or more      40
Name: professional_experience_in_specified_field, dtype: int64

In [31]:
professional_experience['professional_experience_overall'].value_counts()

11 - 20 years       9604
8 - 10 years        5370
5-7 years           4871
21 - 30 years       3631
2 - 4 years         3010
31 - 40 years        867
1 year or less       515
41 years or more     122
Name: professional_experience_overall, dtype: int64

In [32]:
# year mapping to replace strings as numeric values in prof exp overall and prof exp in field 
year_mapping = {
'11 - 20 years':'15.5',
'8 - 10 years':'9',  
'5-7 years': '6',     
'21 - 30 years':'25.5',   
'2 - 4 years': '3',    
'31 - 40 years': '35.5',   
'1 year or less': '1', 
'41 years or more':'41'
}

professional_experience['professional_experience_overall'] = professional_experience['professional_experience_overall'].map(year_mapping)
professional_experience['professional_experience_in_specified_field'] = professional_experience['professional_experience_in_specified_field'].map(year_mapping)
professional_experience['professional_experience_overall'].value_counts()

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\354235787.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  professional_experience['professional_experience_overall'] = professional_experience['professional_experience_overall'].map(year_mapping)
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\354235787.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  professional_experience['professional_experience_in_specified_field'] = professional_experience['professional_experience_in_specified_field'].map(year_mapping)

15.5    9604
9       5370
6       4871
25.5    3631
3       3010
35.5     867
1        515
41       122
Name: professional_experience_overall, dtype: int64

In [33]:
df['professional_experience_overall'].value_counts()

11 - 20 years       9604
8 - 10 years        5370
5-7 years           4871
21 - 30 years       3631
2 - 4 years         3010
31 - 40 years        867
1 year or less       515
41 years or more     122
Name: professional_experience_overall, dtype: int64

In [34]:
# replacing rows in df with modified rows 
df[['professional_experience_overall', 'professional_experience_in_specified_field']] = professional_experience[['professional_experience_overall', 'professional_experience_in_specified_field']]
df[['professional_experience_overall', 'professional_experience_in_specified_field']] = df[['professional_experience_overall', 'professional_experience_in_specified_field']].fillna(0)

In [35]:
# need to convert new dataframe columns to str 
df.dtypes

timestamp                                      object
age                                            object
industry                                       object
job title                                      object
job_title_context                              object
salary                                          int64
compensation                                  float64
currency                                       object
other_currency                                 object
income_context                                 object
country                                        object
state                                          object
city                                           object
professional_experience_overall                object
professional_experience_in_specified_field     object
education                                      object
gender                                         object
race                                           object
total_salary                                  float64
dtype: object

In [36]:
df['professional_experience_overall'] = pd.to_numeric(df['professional_experience_overall'], errors='coerce')
df['professional_experience_in_specified_field'] = pd.to_numeric(df['professional_experience_in_specified_field'], errors='coerce')

In [37]:
# they are floats now instead of int because when you mapped the ages you included halfs instead of keeping
# whole numbers
df.dtypes

timestamp                                      object
age                                            object
industry                                       object
job title                                      object
job_title_context                              object
salary                                          int64
compensation                                  float64
currency                                       object
other_currency                                 object
income_context                                 object
country                                        object
state                                          object
city                                           object
professional_experience_overall               float64
professional_experience_in_specified_field    float64
education                                      object
gender                                         object
race                                           object
total_salary                                  float64
dtype: object

In [38]:
# how would you comepare 2 columns, where they may have repeated values but in other cases one is missing. 
# ie if capital was minneapolis but there was no minnesota in the city column, could you replace it with 
# minnesota if the value pair already exists?

# df age column work

In [39]:
holding_age = df['age']

In [40]:
holding_age.value_counts()

25-34         12631
35-44          9879
45-54          3182
18-24          1201
55-64           991
65 or over       94
under 18         12
Name: age, dtype: int64

In [41]:
# convert holding age to string so we can map it 
holding_age = holding_age.astype(str)

In [42]:
# need to make a note that when the age is displayed, it is 65+ for 65 and 18 is actually youth.
age_mapping = {'25-34':29.5,        
'35-44':39.5,          
'45-54' :49.5,         
'18-24':21,          
'55-64':59.5,           
'65 or over':65,       
'under 18':18,         }

In [43]:
holding_age.dtypes

dtype('O')

In [44]:
holding_age = holding_age.map(age_mapping)
holding_age

0        29.5
1        29.5
2        29.5
3        29.5
4        29.5
         ...
27985    29.5
27986    29.5
27987    65.0
27988    65.0
27989    21.0
Name: age, Length: 27990, dtype: float64

In [45]:
df['age'] = holding_age

# Working with Currency

there are strings within the other_currency column , need to find a way to push those string column values
into income_context

In [46]:
# would there be a way you could select currency column where it only contains other , then you have a dataframe with 


# work with main dataframe, if other currency column is equal to 3 length long then we can replace it in the currency column 
# be sure to upper it

In [47]:
holding_currency = df[['currency', 'other_currency']]

In [48]:
other_currency = holding_currency['other_currency'].value_counts()
df_currency = df['currency']
df_other_currency = df['other_currency']

In [49]:
df.columns

Index(['timestamp', 'age', 'industry', 'job title', 'job_title_context',
       'salary', 'compensation', 'currency', 'other_currency',
       'income_context', 'country', 'state', 'city',
       'professional_experience_overall',
       'professional_experience_in_specified_field', 'education', 'gender',
       'race', 'total_salary'],
      dtype='object')

In [50]:
df['currency'] = df['currency'].str.upper()
df['other_currency'] = df['other_currency'].str.upper()

In [51]:
# if the other_currency row is already 3 digits, place it in the currency column 

def replace_currency(row):
    other_currency = row['other_currency']
    if isinstance(other_currency, str) and len(other_currency) == 3:
        return other_currency
    else:
        return row['currency']

df['currency'] = df.apply(replace_currency, axis=1)

In [52]:
# column with 3 letter but a space on the end
#df.iloc[24843, df.columns.get_loc('other_currency')] = df.iloc[24843]['other_currency'].replace(' ','')

In [53]:
# need to capitalize everything because you used upper on second go around
# could you add multiple keys for each value to condense text? 
currency_mapping = {
    'TAIWANESE DOLLARS': 'TWD',
    'PHILIPPINE PESO': 'PHP',
    'KOREAN WON': 'KRW',
    'IDR ': 'IDR',
    'ILS (SHEKEL)': 'ILS',
    'DKK ': 'DKK',
    'AUD AUSTRALIAN': 'AUD',
    'EQUITY': 'EQUITY',
    'ARGENTINIAN PESO (ARS)': 'ARS',
    'POLISH ZLOTY': 'PLN',
    'INR (INDIAN RUPEE)': 'INR',
    'DANISH KRONER': 'DKK',
    'KOREAN WON': 'KRW',
    'EURO': 'EUR',
    'MEXICAN PESOS': 'MXN',
    'SINGAPORE DOLLARS': 'SGD',
    'THAI BAHT': 'THB',
    'RUPEES': 'INR',
    'CROATIAN KUNA': 'HRK',
    'INDIAN RUPEES': 'INR',
    
    'BRL (R$)': 'BRL',
    'MEXICAN PESOS': 'MXN',
    'AMERICAN DOLLARS': 'USD',
    'PLN (POLISH ZLOTY)': 'PLN',
    'CZECH CROWNS': 'CZK',
    'NORWEGIAN KRONER (NOK)': 'NOK',
    'ILS/NIS': 'ILS',
    'US DOLLAR': 'USD',
    'NIS (NEW ISRAELI SHEKEL)': 'ILS',
    'PHP (PHILIPPINE PESO)': 'PHP',
    'ARGENTINE PESO': 'ARS',
    'PHILIPPINE PESOS': 'PHP',
    'KOREAN WON ': 'KRW',
    'THAI  BAHT': 'THB',
    'THAI BAHT ': 'THB',
    'PLN (ZWOTY)': 'PLN',
    'SINGAPORE DOLLARA': 'SGD',
    

    'RMB (CHINESE YUAN)':'RMB',
    'PESO ARGENTINO':'RMB',
    'KRW (KOREAN WON)':'RMB',
    'CHINA RMB':'RMB',
    'AUD AUSTRALIAN ':'RMB',
    'POLISH ZOTY':'RMB',
    'PHILIPPINE PESO (PHP)':'RMB',
    'AUSTRALIAN DOLLARS ':'RMB',
    'ISRAELI SHEKELS':'RMB',
    'SGD ':'SGD',
    'RM':'MYR',





    




    # Add more currency mappings as needed
}

# Define a function to replace the 'currency' column with 3-digit abbreviations
def replace_currency1(row):
    if not pd.isna(row['other_currency']):
        return currency_mapping.get(row['other_currency'], row['currency'])
    return row['currency']

df['currency'] = df.apply(replace_currency1, axis=1)

In [54]:
df.iloc[18843]['other_currency']

nan

In [55]:
# there is going to be a better way to do this in the future. Manually cleaning last 5 rows that had NaN values
# in other currency, used location given to determine currency abbreviation to place in both columns - currency and other_currency
#

# the following is how you would manually change values within rows 
row_indices = [9344, 18843, 18882, 18904,27959]
new_values = ['USD', 'MYR','MYR','USD','INR']
df.iloc[row_indices, df.columns.get_loc('other_currency')] = new_values
df.iloc[row_indices, df.columns.get_loc('currency')] = new_values

# country column work.

In [56]:
holding_countries = df['country']
holding_countries = holding_countries.str.strip()
holding_countries  = holding_countries.str.lower()

In [57]:
holding_countries_value_counts = holding_countries.value_counts()

In [58]:
# there has got to be a way using some form of regex that you can find some sort of pattern that
# would allow you to do this process wihtout it being so ugly or such a pain
country_mapping = {
    'america':'united states',
    'usa':'united states',
    'us':'united states',
    'u.s.':'united states',
    'usa':'united states',
    'united states of america':'united states',
    'u.s.a':'united states',
    'u.s.a.':'united states',
    'u.s':'united states',
    'united state':'united states',
    'unites states':'united states',
    'united stated':'united states',
    'the united states':'united states',
    'united state of america':'united states',
    'united stares':'united states',
    'united statea':'united states',
    'united status':'united states',
    'usa tomorrow':'united states',
    'united sates of america':'united states',
    'united states of american':'united states',
    'united statss':'united states',
    'usd':'united states',
    'united  states':'united states',
    'united statues':'united states',
    'unitied states':'united states',
    'usaa':'united states',
    'united states- puerto rico':'united states',
    'united states is america':'united states',
    'unitef stated':'united states',
    'united stateds':'united states',
    'us govt employee overseas, country withheld':'united states',
    'united statees':'united states',
    'uniyed states':'united states',
    'uniyes states':'united states',
    'us of a':'united states',
    'u.sa':'united states',
    'united stattes':'united states',
    'u.s>':'united states',
    'usa-- virgin islands':'united states',
    'united statws':'united states',
    'uniited states':'united states',
    'united statesp':'united states',
    'united states (i work from home and my clients are all over the us/canada/pr':'united states',
    'unted states':'united states',
    'uss':'united states',
    'uniteed states':'united states',
    'u. s.':'united states',
    'united sates':'united states',
    'unitedstates':'united states',
    'unite states':'united states',
    'united sttes':'united states',
    'uniter statez':'united states',
    'untied states':'united states',
    'united statew':'united states',
    'for the united states government, but posted overseas':'united states',
    '':'united states',
    'u. s':'united states',
    'i.s':'united states',
    'i.s.':'united states',
    'isa':'united states',
    'the us':'united states',
    'united y':'united states',
    'usa (company is based in a us territory, i work remote)':'united states',
    'united states of americas':'united states',
    'na':'united states',
    'usab':'united states',
    'california':'united states',





    'uk':'united kingdom',
    'u.k.':'united kingdom',
    'u.k.':'united kingdom',
    'nz':'new zealand',
    'wales':'united kingdom',
    'england, uk':'united kingdom',
    'england, united kingdom':'united kingdom',
    'northern ireland':'ireland',
    'scotland, uk':'united kingdom',
    'uk (england)':'united kingdom',
    'united kingdom (england)':'united kingdom',
    'england, uk.':'united kingdom',
    'england/uk':'united kingdom',
    'n/a (remote from wherever i want)':'remote',
    'austria, but i work remotely for a dutch/british company':'netherlands',
    'panam':'panama',
    'canada, ottawa, ontario':'canada',
    'unites kingdom':'united kingdom',
    'remote (philippines)':'remote',
    'canad':'canada',
    'company in germany. i work from pakistan.':'germany',
    'hong konh':'hong kong',
    'aotearoa new zealand':'new zealand',
    'i work for a uae-based organization, though i am personally in the us.':'united arab emirates',
    'uk, but for globally fully remote company':'remote',
    'northern ireland, united kingdom':'united kingdom',
    'argentina but my org is in thailand':'thailand',
    'mxico':'mexico',
    'uk, but for globally fully remote company':'remote',
    'from new zealand but on projects across apac':'remote',

    'ua':'ukraine',
    'worldwide (based in us but short term trips aroudn the world)':'remote',
    'uk, remote':'remote',
    'can':'canada',
    'i am located in canada but i work for a company in the us':'united states',
    'u.a.':'ukraine',
    'canad':'canada',
    'uk for u.s. company':'united states',
    'uk (northern ireland)':'united kingdom',
    'mainland china':'china',
    'csnada':'canada',
    'japan, us gov position':'united states',
    'virginia':'united states',
    'jersey, channel islands':'channel islands',
    'italy (south)':'italy',
    'eritrea':'africa',
    'canadw':'canada',
    'international':'remote',
    'englang':'united kingdom',
    'nederland':'netherlands',
    'u.k':'united kingdom',
    'sierra leone':'africa',
    'united kingdomk':'united kingdom',
    'u.k. (northern england)':'united kingdom',
    'danmark':'denmark',
    'wales (united kingdom)':'united kingdom',
    'somalia':'africa',
    'from romania, but for an us based company':'united states',
    'cote d\'ivoire':'africa',
    'australi':'australia',
    'united kingdom.':'united kingdom',
    'canda':'canada',
    'san francisco':'united states',
    'usat':'united states',
    'wales (uk)':'united kingdom',
    'australian':'australia',
    'usa, but for foreign gov\'t':'united states',
    'wales, uk':'united kingdom',
    'new zealand aotearoa':'new zealand',
    'is':'united states',
    'nl':'netherlands',
    'uae':'united arab emirates',
    'i work for an us based company but i\'m from argentina.':'united states',
    'united kindom':'united kingdom',
    'australian':'australia',
    'australian':'australia',






 }

def map_country(value):
    return country_mapping.get(value, value)
holding_countries = holding_countries.map(map_country)

In [59]:
holding_countries_value_counts_after = holding_countries.value_counts()

In [60]:
# 2249 united states, 16853 united states, 12504 united states, 7361 united states, 12905 united states
# 7789 delete, uxz country - 22659 delete , y country - 1971 delete, contracts

In [61]:
df.iloc[2249]

timestamp                                                                    4/27/2021 11:40:54
age                                                                                        29.5
industry                                                          Accounting, Banking & Finance
job title                                                             senior banking associate
job_title_context                             Assistant branch manager, they just don't like...
salary                                                                                    37000
compensation                                                                            37000.0
currency                                                                                    USD
other_currency                                                                              NaN
income_context                                                                              NaN
country                                       We don't get raises, we get quarterly bonuses,...
state                                                                             Massachusetts
city                                                                                    Mashpee
professional_experience_overall                                                             9.0
professional_experience_in_specified_field                                                  3.0
education                                                                        College degree
gender                                                                                    Woman
race                                                                                      White
total_salary                                                                            74000.0
Name: 2249, dtype: object

# run the following code once per restart

In [62]:
# drop unexplainable columns
# df.drop([7789, 22659,1971 ], axis = 0)

# find columns where country was actually income context, replace income context with country 
# then replace the country with the actual country

# there has to be a better way to do this rather than hardcoding the locations

df.iloc[2249, df.columns.get_loc('income_context')] = df.iloc[2249]['country']
df.iloc[16853, df.columns.get_loc('income_context')] = df.iloc[16853]['country']
df.iloc[7361, df.columns.get_loc('income_context')] = df.iloc[7361]['country']
df.iloc[12905, df.columns.get_loc('income_context')] = df.iloc[12905]['country']

df.iloc[2249, df.columns.get_loc('country')] = 'united states'
df.iloc[16853, df.columns.get_loc('country')] = 'united states'
df.iloc[7361, df.columns.get_loc('country')] = 'united states'
df.iloc[12905, df.columns.get_loc('country')] = 'united states'

Adding the holding countries back into the country column on main dataframe

In [63]:
df['country'] = holding_countries
df

,timestamp,age,industry,job title,job_title_context,salary,compensation,currency,other_currency,income_context,country,state,city,professional_experience_overall,professional_experience_in_specified_field,education,gender,race,total_salary
0,4/27/2021 11:02:10,29.5,Education (Higher Education),research and instruction librarian,NaN,55000,0.0,USD,NaN,NaN,united states,Massachusetts,Boston,6.0,6.0,Master's degree,Woman,White,55000.0
1,4/27/2021 11:02:22,29.5,Computing or Tech,change & internal communications manager,NaN,54600,4000.0,GBP,NaN,NaN,united kingdom,NaN,Cambridge,9.0,6.0,College degree,Non-binary,White,58600.0
2,4/27/2021 11:02:38,29.5,"Accounting, Banking & Finance",marketing specialist,NaN,34000,0.0,USD,NaN,NaN,united states,Tennessee,Chattanooga,3.0,3.0,College degree,Woman,White,34000.0
3,4/27/2021 11:02:41,29.5,Nonprofits,program manager,NaN,62000,3000.0,USD,NaN,NaN,united states,Wisconsin,Milwaukee,9.0,6.0,College degree,Woman,White,65000.0
4,4/27/2021 11:02:42,29.5,"Accounting, Banking & Finance",accounting manager,NaN,60000,7000.0,USD,NaN,NaN,united states,South Carolina,Greenville,9.0,6.0,College degree,Woman,White,67000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27985,10/13/2023 16:12:13,29.5,Engineering or Manufacturing,email marketing manager,NaN,125000,12500.0,USD,NaN,NaN,united states,Illinois,Chicago,6.0,3.0,College degree,Woman,White,137500.0
27986,10/14/2023 4:54:39,29.5,"Accounting, Banking & Finance",advisor associate,NaN,72000,5000.0,USD,NaN,NaN,united states,Nevada,Las Vegas,3.0,3.0,College degree,Man,Asian or Asian American,77000.0
27987,10/16/2023 6:58:49,65.0,Plumbing,manager,NaN,30000,10000.0,ZAR,NaN,NaN,south africa,NaN,Johannesburg,41.0,41.0,High School,Man,White,40000.0
27988,10/16/2023 7:07:11,65.0,Plumbing,manager,NaN,30000,10000.0,ZAR,ZAR,NaN,south africa,NaN,Johannesburg,41.0,41.0,NaN,Man,White,40000.0
27989,10/26/2023 8:17:05,21.0,Computing or Tech,ibterb,NaN,875520,0.0,USD,NaN,NaN,nigeria,NaN,Lagos,3.0,3.0,College degree,Man,Another option not listed here or prefer not t...,875520.0

In [64]:
city_to_state_mapping = {
    'San Nicols de los Arroyos': 'Buenos Aires',
    'Oaxaca de Juarez (home). Company I work for is based in Los ngeles': 'Oaxaca',
    'Greater NYC Metro': 'New York',
    'Chicago, IL (but I work remotely)': 'Illinois',
    'Norristown, PA': 'Pennsylvania',
    'US govt employee overseas, country withheld': 'Overseas',
    'Several': 'Several',  
    'Minneapolis': 'Minnesota',
    'Midwest region': 'Midwest',  
    'Boston': 'Massachusetts',
    'Detroit': 'Michigan',
    'NaN': np.nan,  
    'Remote': np.nan, 
    'Major metropolitan area': np.nan,  
    'Le Center': 'Minnesota',
    'Bennington': 'Vermont',
    'Aguadilla': 'Puerto Rico',
    'Redding': 'California',
    'National-Remote': 'National',  
    'Dallas': 'Texas',
    'New York': 'New York',
    'Wilmington': 'Delaware',
    'Im remote but my company is based in Massachusetts': 'Massachusetts',
    'Not answering': np.nan,  
    'Denver': 'Colorado',
    'Nyc': 'New York',
    'East Coast USA': np.nan,  
    'Prefer not to disclose': np.nan,  
    'Springfield': 'Illinois',
    'Fully remote company based out of CA': 'California',
    'Philadelphia - can you help me?': 'Pennsylvania',
    'NaN': np.nan  
}
df['state'] = df['city'].map(city_to_state_mapping)

In [65]:
holding_cities = df[['state','city']]
holding_cities_value_counts = df['city'].value_counts()

In [66]:
holding_jobs = pd.DataFrame()

In [67]:
df['industry'] = df['industry'].str.lower()
holding_jobs['industry'] = df['industry'].value_counts()

In [68]:
# you downloaded a csv file containing the us city information 
# you then created a dataframe containing the null values in state column and there had to be a value in the city 
# column, and you only selected us cities.
# then you i think had to merge the dataframes on the city so you had the state they belonged to on a new column, afterwards
# you then merged that onto the dataframe, but i dont think that worked 



# if city contains remote, remotely , state should be remote
# if city contains rural, area, whatever that needs to be removed

# city mapping

In [69]:
# i dont think you ever added a way to make the city column be the state colum if the city colum 
# matches the state list

In [70]:
common_city_use = ('north','east','south','west','north','east','south','west','northern','eastern','southern','western','rural','metro','area','suburb','suburbs','state','greater')

In [71]:
# removing common words
df['city'] = df.apply(lambda row: ' '.join([word for word in row['city'].split() if word.lower() not in common_city_use]) if isinstance(row['city'], str) else row['city'], axis=1)

In [72]:
df['city'] = df.apply(lambda row: row['city'].replace('.','') if isinstance(row['city'],str) and '.' in row['city'] else row['city'],axis=1)

In [73]:
df['city'] = df.apply(lambda row: row['city'].replace(',','') if isinstance(row['city'],str) and ',' in row['city'] else row['city'],axis=1)

In [74]:
# creates 2 seperate dataframes from us city mapping information. one contains city and state name and the other 
# contains city and state id ( 2 char ) 
# https://simplemaps.com/data/us-cities 
us_city_information = pd.read_csv('uscities.csv')
us_city_information.drop_duplicates(subset=['city'],keep='first',inplace=True)
df_city_mapping = us_city_information[['city','state_name']]
df_city_mapping.loc[:, 'city'] = df_city_mapping['city'].str.lower()
df_city_mapping.loc[:, 'state_name'] = df_city_mapping['state_name'].str.lower()
#mapping for abbrevations
df_city_mapping_abbrev = us_city_information[['state_id','state_name']]
df_city_mapping_abbrev.loc[:, 'state_id'] = df_city_mapping_abbrev['state_id'].str.lower()
df_city_mapping_abbrev.loc[:, 'state_name'] = df_city_mapping_abbrev['state_name'].str.lower()

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3077268215.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city_mapping.loc[:, 'city'] = df_city_mapping['city'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3077268215.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city_mapping.loc[:, 'state_name'] = df_city_mapping['state_name'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3077268215.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city_mapping_abbrev.loc[:, 'state_id'] = df_city_mapping_abbrev['state_id'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3077268215.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city_mapping_abbrev.loc[:, 'state_name'] = df_city_mapping_abbrev['state_name'].str.lower()

In [75]:
df_city_mapping_abbrev.drop_duplicates(keep='first',inplace=True)

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1028388201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city_mapping_abbrev.drop_duplicates(keep='first',inplace=True)

In [76]:
# the following is creating a copy of the original df only containign what is needed, then it will only select
# where country is == us. 

# im thinking this is incorrect because you want to keep working with the whole set of data  because then it makes 
# the merging process much easier when the table sare the same lengths. 

# the idea is to do the following work onthe main dataframe or do it the same way but keep the size the same as the 
# original dataframe

In [77]:
df_working_cities = df[['country', 'state', 'city']]
df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.lower()
df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.replace('.', '')
df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.strip()
df_working_cities.loc[:, 'state'] = df_working_cities['state'].str.lower()
df_working_cities.loc[:, 'state_id'] = df_working_cities['city'].str.lower()
df_working_cities = df_working_cities.loc[df_working_cities['country'] == 'united states']

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1004209631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1004209631.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.replace('.', '')
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1004209631.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.replace('.', '')
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1004209631.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities.loc[:, 'city'] = df_working_cities['city'].str.strip()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1004209631.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities.loc[:, 'state'] = df_working_cities['state'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1004209631.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities.loc[:, 'state_id'] = df_working_cities['city'].str.lower()

In [78]:
df_working_cities_test = df[['country', 'state', 'city']]
df_working_cities_test['city'] = df_working_cities_test['city'].str.lower()
df_working_cities_test['city'] = df_working_cities_test['city'].str.replace('.', '')
df_working_cities_test['city'] = df_working_cities_test['city'].str.strip()
df_working_cities_test['state'] = df_working_cities_test['state'].str.lower()
df_working_cities_test['state_id'] = df_working_cities_test['city'].str.lower()

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\250986789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities_test['city'] = df_working_cities_test['city'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\250986789.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_working_cities_test['city'] = df_working_cities_test['city'].str.replace('.', '')
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\250986789.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities_test['city'] = df_working_cities_test['city'].str.replace('.', '')
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\250986789.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities_test['city'] = df_working_cities_test['city'].str.strip()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\250986789.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities_test['state'] = df_working_cities_test['state'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\250986789.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_working_cities_test['state_id'] = df_working_cities_test['city'].str.lower()

In [79]:
# df_working_cities_test['city'] = df_working_cities_test.apply(lambda row: 'san francisco' if isinstance(row['city'],str) and row['city']=='san francisco bay' else row['city'],axis=1 )
# df_working_cities_test['city'] = df_working_cities_test.apply(lambda row: 'chicago' if isinstance(row['city'],str) and row['city']=='chicagoland' else row['city'],axis=1 )
# df_working_cities_test['city'] = df_working_cities_test.apply(lambda row: 'minneapolis' if isinstance(row['city'],str) and row['city']=='minneapolis-st paul' or 'minneapolis/st paul'  else row['city'],axis=1 )

# test merge

In [80]:
df_merge_test = pd.merge(df_working_cities_test, df_city_mapping, on='city',how='left')

In [81]:

# the following code is wiping the information in the state_name column

In [82]:
#df_merge_test['state'] = df_merge_test['state_name']

In [83]:
df_merge_test['state'] =df_merge_test.apply(lambda row: row['state_name'] if row['country'] == 'united states' 
                                                                            and pd.isna(row['state']) 
                                                                            and ~pd.isna(row['state_name'])
                                                                            else row['state'],axis=1)

In [84]:
df_merge_test['city'] = df_merge_test['city'].str.strip()

In [85]:
# merging the working dataframe with the city mapping containing city and state on the cities
df_merge = pd.merge(df_working_cities, df_city_mapping, on='city',how='left')

In [86]:
# replacing nan values in state (if there already is one why replace) with the new state that was merged on 
df_merge['state'].fillna(df_merge['state_name'],inplace=True)

## creating id column to hold state abbrevation for  mapping

In [87]:
# creating state id column containing the 2 characters, if the second split element is 2 len and 2 total splits and not nan
df_merge_test['state_id'] = df_merge_test['city'].apply(lambda x: x.split()[1] if isinstance(x, str) and len(x.split()) == 2 and len(x.split()[1])==2 else np.nan)

In [88]:
# creating state id column for 2nd index ie st louis mo , need to place mo in column as well 
df_merge_test['state_id'] = df_merge_test.apply(lambda row: row['city'].split()[2] if isinstance(row['city'], str) and len(row['city'].split()) == 3 and len(row['city'].split()[2])==2 else row['state_id'],axis=1)

In [89]:
df_merge_test['state_id'] = df_merge_test.apply(lambda row: row['state_id'].lower() if isinstance(row['state_id'],str) else row['state_id'],axis=1 )

In [90]:
# the above should be performing this function. got an error here when adding in the san fran / chicagoland remapping 
#df_merge_test['state_id'] = df_merge_test['state_id'].str.lower()

In [91]:
df_merge_test['state_name'] =  df_merge_test['state_name'].str.lower()

In [92]:
# merging working dataframe and the mapping dataframe containing id and state on state_id
df_merge_test = pd.merge(df_merge_test, df_city_mapping_abbrev, on='state_id',how='left')

In [93]:
#df_merge_test.drop_duplicates(inplace=True)

In [94]:
# youve got the state y , now you need to place it in the state column if it is nan

In [95]:
# youve got state names from abbrev, now you need to find a way to place it into the sate column. the following seems to 
# brick the code once again, but this is where you are leaving off today. 12/20
# first 
#df_merge_test['state'] = df_merge_test.apply(lambda row: row['state_name_y'] if isinstance(row['state_name_y'],str) and row['state'] == np.nan and row['country']=='united states' else row['state'],axis=1)
# testing
df_merge_test['state'] = df_merge_test.apply(lambda row: row['state_name_y'] if isinstance(row['state_name_y'],str) and pd.isna(row['state']) and row['country']=='united states' else row['state'],axis=1)

In [96]:
# replacing state with new state name from merge if its nan
# this one taken out
#df_merge_test['state'].fillna(df_merge_test['state_name_y'],inplace=True)

In [97]:
#df_merge_test['state'] = df_merge_test.apply(lambda row: row['state_name_y'] if isinstance(row['state_name_y'],str) and row['state'] == np.nan() else row['state'], axis=1)

In [98]:
df_merge_test['city'] = df_merge_test['city'].str.lower()
df_merge_test['state'] = df_merge_test['state'].str.lower()

In [99]:
# drop rows where state is nan
# split city, if city split == 2 len then split[0] is city 
# need to merge back into main dataframe frist, cayse the only thing tieing the new one to base one is the city
# instead of using merge dataframe, you might be able to perform them on the main dataframe, you just have to filter it 
# making sure your only performing process where country is usa 
#df_merge.dropna(subset='state', inplace=True)
# you are not droppign columns yet cause it messes up when you go to merge dataframe back together
# you can do some city cleaning to get information from toher

In [100]:
df['city'] = df['city'].str.lower() 
df['state'] = df['state'].str.lower() 
df['city'] = df['city'].str.strip()

In [101]:
#df_merge_test.drop_duplicates(subset=['city'],inplace=True)

In [102]:
df_merge_essential = df_merge_test[['state','city']].drop_duplicates(keep='last')

In [103]:
df_merge_essential.dropna(subset=['state'],inplace=True)

In [104]:
# creating dataframe from working dataframe to merge back to main df, 
df = pd.merge(df, df_merge_essential, on='city',how='left')
#df.drop_duplicates(inplace=True)

In [105]:
#df.drop_duplicates(inplace=True)

In [106]:
# testing code
df1 = df

In [107]:
# this is where you were working last 1/3/24, you are lazily replacing the state values where it had merged - 
# but instead you only want to replace the values where the country is united states along with whatever else
# however the following code ends up replacing all values as nan
# you need to check and make sure state_y is not nan value either?   
df['state_x'] = df.apply(lambda row: row['state_y'] if pd.isna(row['state_x']) and pd.notnull(row['state_y']) and (row['country']=='united states') else row['state_x'],axis=1)

In [108]:
# you were going to try the below method to replace the original values with ones from merge, but you realised you had 
# a mistake of capitalizing united states when the its lowercase
# df1['state_x'] = np.where(
#     (df1['country'] == 'United States') & pd.isna(df1['state_x']) & pd.notnull(df1['state_y']),
#     df1['state_y'],
#     df1['state_x']
# )

In [109]:
# replacing old state with new states
# df['state_x'].fillna(df['state_y'], inplace=True)

In [110]:
#df = df_test

In [111]:
df.rename(columns={'state_x':'state'}, inplace=True)

In [112]:
df.drop('state_y',inplace=True,axis=1)

In [113]:
df.drop_duplicates(inplace=True)

# canada part of states and cities

In [114]:
# you can do what you did above with canada data! 
# getting map data and lower 
df_canada_city_mapping = pd.read_csv('canadacities.csv')
df_canada_city_mapping.drop_duplicates(subset=['city'],keep='first',inplace=True)
df_canada_city_mapping['city'] = df_canada_city_mapping['city'].str.lower() 
df_canada_city_mapping['province_name'] = df_canada_city_mapping['province_name'].str.lower()

In [115]:
df_canada_city_mapping.columns

Index(['city', 'city_ascii', 'province_id', 'province_name', 'lat', 'lng',
       'population', 'density', 'timezone', 'ranking', 'postal', 'id'],
      dtype='object')

In [116]:
# using city and provice name 
df_canada_city_mapping_work = df_canada_city_mapping[['city','province_name']]

In [117]:
# creating dataframe where country is canada
df_canada = df.loc[df['country']=='canada']

In [118]:
# stripping city
df_canada['city'] = df_canada['city'].str.strip()

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\2513260064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_canada['city'] = df_canada['city'].str.strip()

In [119]:
df_canada['city'].replace('',"'",inplace=True)

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3015519422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_canada['city'].replace('',"'",inplace=True)

In [120]:
df_canada['city'] = df_canada['city'].str.strip()

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\2486081859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_canada['city'] = df_canada['city'].str.strip()

In [121]:
# when you go to merge it back together the city has white strips so its not joining all the columns possible
df['city'] = df['city'].str.strip()

In [122]:
df_merge_canada = pd.merge(df_canada, df_canada_city_mapping_work, on='city',how='left')

In [123]:
df_merge_canada['state'] = df_merge_canada['state'].str.strip()

In [124]:
df['state'] = df['state'].str.strip()

In [125]:
df_merge_canada['state'] = df_merge_canada['province_name']

In [126]:
# now you need to clean up the rest of the df_merge_canada df where they put in providence in the state column 
# it is okay to drop state_y from main dataframe now as well. 
# 


# you can split the city column and grab the second entry, then you can see if it matches either the provendince full name
# or the abbrevated version. if it does , fill

In [127]:
df_merge_canada_split = df_merge_canada[['city','state']]

In [128]:
canada_state = df_merge_canada['state'].unique()
# you are creating a list to store each prov then seeing if the split below contains it, then replacing it in state
# you are wondering what you are going to replace if there isnt anything you want ot store

# canada city replacing value in state if city is equal to a city value defined above

In [129]:
#df_merge_canada_split['state'] = df_merge_canada_split['city'].apply(lambda x: x.split()[1] if isinstance(x,str) and pd.isna(x['state']) and isinstance(x['city'],str)and x.split()[1] in canada_state else x['state'])
df_merge_canada['state'] = df_merge_canada.apply(
    lambda row: row['city'].split()[1] if pd.isna(row['state']) and isinstance(row['city'], str) and len(row['city'].split()) > 1 and row['city'].split()[1] in canada_state else row['state'], 
    axis=1
)
df_merge_canada['state'] = df_merge_canada.apply(lambda row: row['city'].split()[0] if pd.isna(row['state']) and isinstance(row['city'], str) and row['city'] in canada_state else row['state'], 
    axis=1
)
# df_merge['state_id'] = df_merge['city'].apply(lambda x: x.split()[1] if isinstance(x, str) and len(x.split()) == 2 and len(x.split()[1])==2 else x)

In [130]:
canada_state_abbrev = df_canada_city_mapping[['province_id', 'province_name']]
canada_state_abbrev['province_id'] = canada_state_abbrev['province_id'].str.lower()
canada_state_abbrev.drop_duplicates(inplace=True, keep='first')

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\2060402295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  canada_state_abbrev['province_id'] = canada_state_abbrev['province_id'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\2060402295.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  canada_state_abbrev.drop_duplicates(inplace=True, keep='first')

In [131]:
# sometimes this wants to be changed to _x
df_merge_canada['state'] = df_merge_canada.apply(
    lambda row: row['province_name'] if pd.isna(row['state']) and isinstance(row['city'], str) else row['state'],
    axis=1
)

In [132]:
# df_merge_canada['state'] = df_merge_canada.apply(
#     lambda row: row['province_name_x'] if pd.isna(row['state']) and isinstance(row['city'], str) and len(row['city'].split()) > 1 and row['city'].split()[1] in canada_state_abbrev else row['state'],
#     axis=1
# )

In [133]:
state_mapping_canada_abbrev = dict(zip(canada_state_abbrev['province_id'],canada_state_abbrev['province_name']))

In [134]:
# df_merge_canada_split['state'] = df_merge_canada_split['city'].apply(
#     lambda x: state_mapping_canada_abbrev.get(x.split(' ')[-1]) if isinstance(x, str) and pd.notna(x) else df_merge_canada_split['state']
# )

In [135]:
# df_merge_canada_split['state'] = df_merge_canada_split.apply(
#     lambda row: state_mapping_canada_abbrev.get(row['city'].split(' ')[-1]) if isinstance(row['city'], str) and pd.notna(row['city']) and pd.notna(row['state']) else row['state'],
#     axis=1
# )

In [136]:
df_merge_canada['province_id'] = df_merge_canada['city'].apply(lambda row:row.split()[1] if  isinstance(row, str) and len(row.split()) > 1 and row.split()[1] != np.nan and len(row.split()[1]) == 2 else np.nan)

In [137]:
# this is what you were wokring on last, the follwoing code does not work. you are trying to place the 2 digit bc from city into 
# province id column so you can display it as british columbia

In [138]:
df_merge_canada['province_id'] = np.where(
    (df_merge_canada['city'].apply(lambda x: isinstance(x, str) and len(x) == 2) & pd.notna(df_merge_canada['state'])),
    df_merge_canada['city'],
    df_merge_canada['province_id']
)

In [139]:
# def process_city(row):
#     city = row['city']
#     province_id = row['province_id']

#     if isinstance(city, str) and pd.isna(province_id) and len(city.split()) > 1 and city.split()[0] != np.nan and len(city.split()[0]) == 2:
#         return city.split()[0]
#     else:
#         return province_id

# df_merge_canada['province_id'] = df_merge_canada.apply(process_city, axis=1)

In [140]:
df_merge_canada = pd.merge(df_merge_canada,canada_state_abbrev, on='province_id',how='left')

In [141]:

df_merge_canada['state']= df_merge_canada.apply(lambda row: row['province_name_y'] if pd.isna(row['state']) else row['state'], axis=1)

In [142]:
# you are still getting citys that shouldve been converted such as bc

In [143]:
df_merge_canada['state'] = df_merge_canada.apply(
    lambda row: row['province_name'] if pd.notna(row['state']) 
                                     and isinstance(row['city'], str) 
                                     and len(row['city'].split()) > 1 
                                     and row['city'].split()[1] 
                                     in canada_state_abbrev else row['state']
                                     ,axis=1
)

In [144]:
df_canada_merging_final = df_merge_canada[['city','state','country']]

In [145]:
# ready to join working canada dataframe back to the original dataframe, merge state on city then replace state if country = canada
# and state = nan

In [146]:
# the reason youw ere getting us states in canada was because when you replaced states in original dataframe with what matched, 
# you didnt specify that it should only be where country = united_states

In [147]:
# because you want to merge the dataframe when you take slices where country is what you want , you are going to run into issues at 
# the end because there are ctities that are going to exist in mulitple countrys SO when you go to join on city you are going to run 
# into issues wehre you get state illios for country canada

# also you could join the the state And country on city so then you could only reaplce city if country and county x equal eachother

In [148]:
df = pd.merge(df, df_canada_merging_final, on='city',how='left')
df.drop_duplicates(inplace=True)

In [149]:
df.columns

Index(['timestamp', 'age', 'industry', 'job title', 'job_title_context',
       'salary', 'compensation', 'currency', 'other_currency',
       'income_context', 'country_x', 'state_x', 'city',
       'professional_experience_overall',
       'professional_experience_in_specified_field', 'education', 'gender',
       'race', 'total_salary', 'state_y', 'country_y'],
      dtype='object')

In [150]:
df['state_y']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
333418    NaN
333419    NaN
333420    NaN
333421    NaN
333422    NaN
Name: state_y, Length: 28060, dtype: object

In [151]:
df_merge_canada['state'] = df_merge_canada.apply(
    lambda row: row['province_name'] if pd.notna(row['state']) and isinstance(row['city'], str) and len(row['city'].split()) > 1 and row['city'].split()[1] in canada_state_abbrev else row['state'],
    axis=1
)

In [152]:
# if 'state_y' in df.columns:
#     df['state_x'] = df.apply(lambda row: row['state_y'] if
#                                     isinstance(row['state_y'], str) and 
#                                     len(row['state_y']) > 1 and 
#                                     row['country_x'] == 'canada' else 
#                                     row['state_x'], axis=1)
# else:
#     print("Column 'state_y' not found in DataFrame.")

In [153]:
#df.drop(['state_y', 'country_y'],axis=1,inplace=True)

In [154]:
#df.rename(columns={'state_x':'state'},inplace=True)

In [155]:
# i think wehn you left off you were workin on how twould you clean up the rest of the nan state in df_)canada _merge 
# you need to merge this back ont o the main dataframe, then you should be able to drop all rows where state is nan 
# you could do some value count work here to determine how many are having missing state and if its worthwhile taking a close rlook into
# actually you need to repeat the above process for the uk THEN you are able to start dropping rows. you could drop rwos beforehand
# if there was a way to only select rows where country = cananda AND state = nan

In [156]:
# now in df where country is canada we need to replace state x with state y

In [157]:
# creating dataframe to test how to place the state y canada correct state into state x state column holding all states
df_test = pd.DataFrame(df)

In [158]:
# placing state y into state x if country is canada
df_test.loc[df_test['country_x'] == 'canada', 'state_x'] = df_test[df_test['country_x'] == 'canada']['state_y']

In [159]:
# it worked, so now you can do it on main dataframe
# you can also now drop the columns at the end of the dataframe

In [160]:
df.loc[df['country_x'] == 'canada', 'state_x'] = df[df['country_x'] == 'canada']['state_y']

In [161]:
# drop the joined columns 
df.drop(columns=['state_y','country_y'],axis=1,inplace=True)

In [162]:
df.columns

Index(['timestamp', 'age', 'industry', 'job title', 'job_title_context',
       'salary', 'compensation', 'currency', 'other_currency',
       'income_context', 'country_x', 'state_x', 'city',
       'professional_experience_overall',
       'professional_experience_in_specified_field', 'education', 'gender',
       'race', 'total_salary'],
      dtype='object')

In [163]:
# rename the columns from _x 
df.rename(columns={'country_x':'country','state_x':'state'},inplace=True)

In [164]:
df_test = pd.DataFrame(df)

In [165]:
# now i think it would be a good idea to put state as nan if country is not united states or canada
df_test['state'] = df_test.apply(lambda row: np.nan if row['country'] not in ['canada','united states'] else row['state'],axis=1)

In [166]:
# test worked, now on main dataframe
df['state'] = df.apply(lambda row: np.nan if row['country'] not in ['canada','united states'] else row['state'],axis=1)

In [167]:
# now i think you want to go through and deal with state indicators within the city column. The state name or abbrevation should
# be removed from the city column in every row. 
# after taking a look and seeing whats going on , you still need to work on the us cities as you did it quite lazily the first time
# around. you need to make it so things like new york, ny have a state of new york.

In [168]:
df_test = pd.DataFrame(df)

In [169]:
# it appears you are exparimenting with trying to remove the state from city column if it so exists in effort to clean
# data before visualization 

# you should also then try to remove abbrevation as there are a lot more of them. Create a list of them using unique method
# on the dataframe created on the csv file but on the city ascii or whatever it is as a series. Then if it matches the 
# df['city'].split()[1] or however you do it, replace it with ''

In [170]:
df_test['city'] = df_test.apply(lambda row: row['city'].replace(row['state'],'') if pd.notna(row['state']) and row['state'] in row['city'] and row['city'] != np.nan else row['city'],axis=1)

In [171]:
# maybe with industries you dont need to do anything to it cause it looks like they were given choices. 
# so next i think you would want to delete all rows that are ranked above 100 in value counts.

In [172]:
df_industries = df[['industry']]

In [173]:
1/12

0.08333333333333333

In [174]:
# online solution 

# value_counts_result = df['column_name'].value_counts()

# # Select the top 100 rows
# top_100_rows = value_counts_result.head(100)

In [175]:
df_industries = df_industries.value_counts()

In [176]:
#df_industries.rename({'index':'field','industry':'count'},inplace=True)

In [177]:
# you could maybe take the top 100 from industry, or you could try to rename columns so you search the now 'index' 
# for computing or hr or whatever and see if there are ones you could rename. ie service = retail?

In [178]:
df_job_title = df['job title'].value_counts()

In [179]:
df_job_title = df_job_title.reset_index().rename(columns={'job title': 'count', 'index': 'title'})

In [180]:
df['country'].unique()

array(['united states', 'united kingdom', 'canada', 'scotland',
       'the netherlands', 'australia', 'spain', 'england', 'finland',
       'france', 'germany', 'ireland', 'india', 'argentina',
       'great britain', 'denmark', 'netherlands', 'switzerland',
       'bermuda', 'malaysia', 'mexico', 'south africa', 'belgium',
       'sweden', 'hong kong', 'kuwait', 'norway', 'sri lanka',
       'contracts',
       "we don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so i got a raise because a 3rd party assessment showed i was paid too little for the area we were located",
       'greece', 'japan', 'britain', 'austria', 'brazil', 'global',
       'remote', 'hungary', 'luxembourg', 'colombia', 'new zealand',
       'trinidad and tobago', 'cayman islands', 'ukraine',
       'czech republic', 'czechia', 'latvia', 'puerto rico', 'rwanda',
       'united arab emirates', 'bangladesh', 'romania',
       'currently finance', 'serbia', 'philippines', 'russia', 'poland',
       'uxz', 'turkey', 'canada and usa', 'catalonia',
       '$2,175.84/year is deducted for benefits', 'italy',
       'channel islands', 'china', 'afghanistan', 'israel', 'hartford',
       'taiwan', 'cambodia', 'vietnam', 'singapore', 'south korea',
       'thailand', 'lithuania', 'africa', 'indonesia', 'cuba', 'slovenia',
       'england, gb', 'slovakia', 'portugal',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'the bahamas',
       "i earn commission on sales. if i meet quota, i'm guaranteed another 16k min. last year i earned an additional 27k. it's not uncommon for people in my space to earn 100k+ after commission.",
       'costa rica', 'chile', 'qatar', 'nigeria', 'panama',
       'i was brought in on this salary to help with the ehr and very quickly was promoted to current position but compensation was not altered.',
       'congo', 'uruguay', 'pakistan', 'brasil', 'uganda', 'malta',
       'saudi arabia', 'bulgaria', 'estonia', 'morocco', 'ecuador',
       'zimbabwe', 'ghana', 'luxemburg', 'croatia', 'y', 'isle of man',
       'europe', 'jamaica', 'kenya', 'jordan', 'policy', 'cyprus',
       'liechtenstein', 'bosnia and herzegovina'], dtype=object)

In [181]:
# 'the' needs to be removed from netherland entries containing it  X
# country with britin needs to be great britain
# luxemburg spelling all messed up 
# country being europe needs to be dropped
# brazil entry spelled with s instead of z

# california has multiple listings for same city ie sf, san franciso, and san franciso bay area - map them ?
# map them out like you did with countries in the beginning

# you could also remove east , eastern, from the cities to get more complete rows

# kind of avoiding the fact you need a way to just use the top 100 value count of job title or industry , whichever
# was the one that had higher value counts. 

# once you cleat the above you are going to be able to start building a dashboard. Once you have everything completed
# you could send piatz the following data transformation and the finished dashboard along with the resume

# and then also you could do your new github profile to be more professional name 




# big idea to convert salary amounts all into usd , or at least the euro

In [182]:
# lambda 123

In [183]:
df_clean = df

In [184]:
df_clean['country'] = df_clean.apply(lambda row: row['country'].replace('the','') if row['country']=='the netherlands' else row['country'],axis=1)

In [185]:
df_abbrev_clean = us_city_information[['state_id','state_name']]
df_abbrev_clean['state_id'] = df_abbrev_clean['state_id'].str.lower() 
df_abbrev_clean['state_name'] = df_abbrev_clean['state_name'].str.lower() 
df_abbrev_clean.drop_duplicates(inplace=True)

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3805101410.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_abbrev_clean['state_id'] = df_abbrev_clean['state_id'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3805101410.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_abbrev_clean['state_name'] = df_abbrev_clean['state_name'].str.lower()
C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\3805101410.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_abbrev_clean.drop_duplicates(inplace=True)

In [186]:
df_abbrev_series = df_abbrev_clean['state_id']
df_abbrev_list = df_abbrev_series.to_list()

In [187]:
# first solution, for some reason this didnt work but the following does 
# df_clean['city'] = df_clean.apply(lambda row: row['city'].replace(row['city'].split()[1], '') 
#                                 if isinstance(row['city'],str)
#                                 and isinstance(row['city'].split()[1],str)
#                                 and len(row['city']).split()[1] > 1
#                                 and row['city'].split()[1] in df_abbrev_list
#                                 else row['state'], axis=1)

In [188]:
# the following code takes the abbrevations used originally to get the state column, and removes them if they match
# the list of state abbrevations. 

# you need to do the following for the 2nd split for st louis mo

In [189]:
df_clean['city'] = df_clean.apply(lambda row: str(row['city']).replace(str(row['city']).split()[1], '') 
                                if isinstance(row['city'], str)
                                and len(str(row['city']).split()) > 1
                                and isinstance(str(row['city']).split()[1], str)
                                and str(row['city']).split()[1] in df_abbrev_list
                                else row['city'], axis=1)

In [190]:
#df_clean['state'] = df_clean.apply(lambda row: row['state'].split()[1].replace() if row['country']=='the netherlands' else row['country'],axis=1)

In [191]:
# going to remove eastern, west, etc from city column 
# then you could rerun mapping to see if there are more matches for state

# 2101 rows where state = nan before

In [192]:
df_clean.loc[(df_clean['country'] == 'united states') & (df_clean['state'].isna())].value_counts

<bound method DataFrame.value_counts of                   timestamp   age                       industry  \
480      4/27/2021 11:03:55  39.5   education (higher education)
1750     4/27/2021 11:04:34  29.5                     nonprofits
1758     4/27/2021 11:04:41  39.5              computing or tech
1759     4/27/2021 11:04:43  39.5                     nonprofits
1764     4/27/2021 11:04:50  39.5   education (higher education)
...                     ...   ...                            ...
331708  12/11/2022 10:08:24  29.5                    health care
332165   1/29/2023 14:26:21  39.5              computing or tech
333066    3/6/2023 18:16:19  29.5              behavioral health
333327   8/21/2023 22:47:22  18.0  accounting, banking & finance
333411    9/25/2023 9:20:50  21.0  accounting, banking & finance

                                             job title  \
480                                 senior irb analyst
1750    manager, natural climate solutions development
1758                                       tech writer
1759                             supervisory archivist
1764                     special collections cataloger
...                                                ...
331708                                      pharmacist
332165                             master data analyst
333066                         mental health therapist
333327                           mcdonalds crew member
333411                                 program analyst

                                        job_title_context  salary  \
480     State university, higher ed research adminstra...   68000
1750    This is NOT a non-profit development/fundraisi...   84000
1758                                                  NaN   88000
1759                              at a historical society   71000
1764                                 Tenure-track faculty   65000
...                                                   ...     ...
331708                                                NaN  151257
332165  Create and maintain data for all materials (pr...   57000
333066                                                NaN   52416
333327                                                NaN   40000
333411                                     Data Analytics   70000

        compensation currency other_currency income_context        country  \
480              0.0      USD            NaN            NaN  united states
1750          8400.0      USD            NaN            NaN  united states
1758             0.0      USD            NaN            NaN  united states
1759             0.0      USD            NaN            NaN  united states
1764             0.0      USD            NaN            NaN  united states
...              ...      ...            ...            ...            ...
331708        9075.0      USD            NaN            NaN  united states
332165           0.0      USD            NaN            NaN  united states
333066           0.0      USD            NaN            NaN  united states
333327           0.0      USD            NaN            NaN  united states
333411        5000.0      USD            NaN            NaN  united states

       state                        city  professional_experience_overall  \
480      NaN           research triangle                              6.0
1750     NaN        district of columbia                              6.0
1758     NaN        prefer not to answer                             15.5
1759     NaN              nyc (remotely)                             15.5
1764     NaN                       -----                             15.5
...      ...                         ...                              ...
331708   NaN                    colorado                              6.0
332165   NaN  danvers  (north of boston)                             15.5
333066   NaN                spotsylvania                              3.0
333327   NaN                         NaN                              1.0
333411   NaN                     stlouis                              1.0

        professional_experience_in_specified_field  \
480                                            3.0
1750                                           6.0
1758                                           9.0
1759                                           9.0
1764                                          15.5
...                                            ...
331708                                         9.0
332165                                        15.5
333066                                         3.0
333327                                         1.0
333411                                         1.0

                                 education gender  \
480                        Master's degree  Woman
1750                       Master's degree  Woman
1758                        College degree  Woman
1759                       Master's degree  Woman
1764                       Master's degree  Woman
...                                    ...    ...
331708  Professional degree (MD, JD, etc.)  Woman
332165                      College degree  Woman
333066                     Master's degree  Woman
333327                         High School  Woman
333411                      College degree    Man

                                                     race  total_salary
480                                                 White       68000.0
1750                                                White       92400.0
1758    Another option not listed here or prefer not t...       88000.0
1759                                                White       71000.0
1764                                                White       65000.0
...                                                   ...           ...
331708                                                NaN      160332.0
332165                                              White       57000.0
333066                                              White       52416.0
333327                            Asian or Asian American       40000.0
333411                Hispanic, Latino, or Spanish origin       75000.0

[1444 rows x 19 columns]>

In [193]:
# this was the practice run , now implemtned above

In [194]:
# removes common words describing city

In [195]:
#df_clean['city'] = df_clean.apply(lambda row: ' '.join([word for word in row['city'].split() if word.lower() not in common_city_use]) if isinstance(row['city'], str) else row['city'], axis=1)

In [196]:
state_list = df_clean['state'].unique()

In [197]:
us_state_list  =df_city_mapping_abbrev['state_name']
us_state_list = us_state_list.drop_duplicates()
us_state_list = us_state_list.to_list()

In [198]:
# this also needs to be placed higher up, it places the city in the state column if it already exists in the state list
# created from unique values in state column

In [199]:
df_clean['state'] =  df_clean.apply(lambda row: row['city'] if isinstance(row['city'],str) and row['city'] in state_list else row['state'],axis=1)

In [200]:
# df clean state equal to city , city shold be nan

In [201]:
df_clean['city'] = df_clean.apply(lambda row: np.nan if row['city'] != 'new york' and row['state']==row['city'] else row['city'],axis=1)

In [202]:
#replacing periods

In [203]:
df_clean['city'] = df_clean.apply(lambda row: row['city'].replace('.','') if isinstance(row['city'],str) and '.' in row['city'] else row['city'],axis=1)

In [204]:
#replacing commas

In [205]:
df_clean['city'] = df_clean.apply(lambda row: row['city'].replace(',','') if isinstance(row['city'],str) and pd.notna(row['city']) and ',' in row['city'] else row['city'],axis=1)

In [206]:
# if the second element of city split is a state , put it in state column 
# portland

In [207]:
df_clean['state'] = df_clean.apply(lambda row: row['city'].split()[1] 
                                   if isinstance(row['city'],str) 
                                   and len(row['city'].split())==2 
                                   and row['city'].split()[1] in us_state_list 
                                   else row['state']
                                   ,axis=1)

In [208]:
# cleaning multiple new york entries
df_clean['city'] = df_clean.apply(lambda row: 'new york city' if row['city'] in ['new york', 'nyc','new york ny'] else row['city'],axis=1)

In [209]:
# you did all this without relizing that
# portland city still doesnt have state
# going to redo the process of merging states on city where country = united states
# replacing the state value with the new merge value if there isnt a state already

In [210]:
#df_clean_test = df_clean

In [211]:
# df_clean_test = pd.merge(df_clean_test,df_city_mapping,how='left' )

In [212]:
# df_clean_test['state'] = df_clean_test.apply(lambda row: row['state_name'] 
#                                             if pd.isna(row['state'])
#                                             and isinstance(row['state_name'],str)
#                                             and row['country'] == 'united states'
#                                             else row['state']
#                                             ,axis=1)

In [213]:
df_clean['city'] = df_clean.apply(lambda row: 'san francisco' if row['city'] in ['sf','sf bay','san francisco bay'] else row['city'],axis=1)
df_clean['state'] = df_clean.apply(lambda row: 'california' if row['city'] == 'san francisco' else row['state'],axis=1)

In [214]:
# lastly you have just abbrev for state name left in city column 
# unique answers in state city column that have a state already need to be cleaned somehow 
# you need to make sure that all dc / district of columbia answers are all uniform and not all random bs

In [215]:
df_clean1 = df_clean

# test merge for state id on test dataframe

In [216]:
# renaming column to match mapping dataframe
df_clean1.rename(columns={'city':'state_id'},inplace='True')

In [217]:
# merging test dataframe on mapping dataframe 
df_clean1 = pd.merge(df_clean1, df_abbrev_clean, on='state_id',how='left')

In [218]:
# placing merged state on state row if there is one that exists and there is no state that exists
df_clean1['state'] = df_clean1.apply(lambda row: row['state_name']
                                    if isinstance(row['state_name'], str)
                                    and pd.isna(row['state'])
                                    and ~pd.notna(row['state_name'])
                                    else row['state']
                                    ,axis=1)

In [219]:
# drop the added rows 
df_clean1.drop(labels =['state_name',],axis=1,inplace=True)

In [220]:
# rename column state id back to city since we are done with the merg e
df_clean1.rename(columns={'state_id':'city'},inplace='True')

# lets go ahead and do the final cleaning 
## dropping rows that are not going to be used for the final dashboard because they are too niche to clean further

In [221]:
# if a row in the united states has no state, city should be nan
df_clean1['city'] = df_clean1.apply(lambda row: np.nan 
                                    if pd.isna(row['state']) 
                                    and row['country'] in 'united states' 
                                    else row['city'],axis=1)

In [222]:
# viewing all types of currencies
df_clean1['currency'].unique()

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD/NZD', 'INR', 'RMB', 'CHF', 'MYR',
       'ZAR', 'SEK', 'HKD', 'KWD', 'NOK', 'NA ', 'BR$', 'DKK', 'COP',
       'TTD', 'BRL', 'MXN', 'CZK', 'BDT', 'PHP', 'PLN', 'TRY', 'CNY',
       'ILS', 'AUD', 'JPY', 'TWD', 'NZD', 'SGD', 'THB', 'IDR', 'LKR',
       'EQUITY', 'ARS', 'KRW', 'SAR', 'NTD', 'N/A', 'HRK', 'NGN', 'PKR'],
      dtype=object)

In [223]:
# creating exchange rates into usd 
exchange_rates = {'USD': 1, 'EUR': 1.12, 'GBP': 1.26, 'JPY': 0.0067,
                  'AUD/NZD':.65,'INR':.021,'RMB':.14,'CHF':1.15,
                  'MYR':.21,'ZAR':.053,'SEK':.095,'HKD':0.13,
                  'TTD':0.15,'BRL':.2,'MXN':.058,'CZK':.043,
                  'BDT':0.0091,'PHP':0.018,'PLN':0.25,'TRY':0.033,
                  'CNY':0.14,'ILS':0.27,'AUD':0.65,'JPY':0.0067,
                  'SGD':0.74,'NZD':0.61,'THB':0.028,'IDR':0.000064,
                  'LKR':0.0032,'ARS':0.0012,'KRW':0.00075,'SAR':0.27,
                  'NTD':0.032,'HRK':0.144342,'NGN':0.0011,'PKR':0.0036,
                  'CAD':0.74,'KWD':3.25,'NOK':0.094,'N/A':np.nan,
                  'EQUITY':np.nan,'DKK':0.14,'COP':0.00026}

In [224]:
# mapping function to mutiply total salary by the matching exchange rate given by currency column to make it all usd
def convert_to_usd(row):
    if row['currency'] in exchange_rates:
        return row['total_salary'] * exchange_rates[row['currency']]
    else:
        return np.nan

In [225]:
df_clean1['amount_usd'] = df_clean1.apply(convert_to_usd, axis=1)

In [226]:
# filter to select rows that are in the us with empty state 
df_clean1 = df_clean1[~((df_clean1['country'] == 'united states') & (df_clean1['state'].isna()))]

In [227]:
# if city == country remove city 
df_clean1['city'] = df_clean1.apply(lambda row: np.nan
                             if isinstance(row['city'],str)
                             and isinstance(row['country'],str)
                             and row['city'] in row['country']
                             else row['city']
                             ,axis=1

                            
                             )

In [228]:
# lastly , using just the top 100 results by volumn for the job title so there arent 1k options for the dashboard 
# Assuming your DataFrame is named 'df' and the job title column is named 'job_title'
top_100_job_titles = df_clean1['job title'].value_counts().head(100).index

# Filter the DataFrame to include only the rows where the job title is in the top 100
df_filtered = df_clean1[df_clean1['job title'].isin(top_100_job_titles)]

In [229]:
df_filtered.reset_index(inplace=True)

In [230]:
df_filtered['income_context'] = df_filtered.apply(lambda row: row['income_context'].replace(',','') 
                                                            if isinstance(row['income_context'],str)
                                                            and row['income_context'] in ','
                                                            else row['income_context']
                                                            ,axis=1)

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1079782292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['income_context'] = df_filtered.apply(lambda row: row['income_context'].replace(',','')

In [231]:
rows_to_drop = ['income_context','other_currency','job_title_context','income_context']

In [232]:
# dropping excess rows to see if it allows it to parse on looker studio 
df_filtered.drop(rows_to_drop,axis=1)

,index,timestamp,age,industry,job title,salary,compensation,currency,country,state,city,professional_experience_overall,professional_experience_in_specified_field,education,gender,race,total_salary,amount_usd
0,3,4/27/2021 11:02:41,29.5,nonprofits,program manager,62000,3000.0,USD,united states,wisconsin,milwaukee,9.0,6.0,College degree,Woman,White,65000.0,65000.0
1,4,4/27/2021 11:02:42,29.5,"accounting, banking & finance",accounting manager,60000,7000.0,USD,united states,south carolina,greenville,9.0,6.0,College degree,Woman,White,67000.0,67000.0
2,7,4/27/2021 11:03:00,29.5,education (primary/secondary),librarian,50000,0.0,USD,united states,arizona,yuma,6.0,6.0,Master's degree,Man,White,50000.0,50000.0
3,9,4/27/2021 11:03:02,39.5,"accounting, banking & finance",senior accountant,45000,0.0,USD,united states,florida,palm coast,25.5,25.5,College degree,Woman,"Hispanic, Latino, or Spanish origin, White",45000.0,45000.0
4,10,4/27/2021 11:03:03,29.5,nonprofits,office manager,47500,0.0,USD,united states,massachusetts,boston,6.0,6.0,College degree,Woman,White,47500.0,47500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6288,28042,7/25/2023 15:48:47,29.5,"marketing, advertising & pr",product manager,115000,0.0,USD,united states,texas,fort worth,9.0,9.0,Some college,Man,White,115000.0,115000.0
6289,28043,8/8/2023 7:12:10,29.5,computing or tech,data scientist,960000,0.0,USD,ghana,NaN,accra,3.0,3.0,College degree,Man,Black or African American,960000.0,960000.0
6290,28051,9/26/2023 23:30:35,29.5,government and public administration,data scientist,94000,0.0,USD,united states,new york,new york city,9.0,3.0,Master's degree,Woman,NaN,94000.0,94000.0
6291,28059,10/16/2023 6:58:49,65.0,plumbing,manager,30000,10000.0,ZAR,south africa,NaN,johannesburg,41.0,41.0,High School,Man,White,40000.0,2120.0
6292,28060,10/16/2023 7:07:11,65.0,plumbing,manager,30000,10000.0,ZAR,south africa,NaN,johannesburg,41.0,41.0,NaN,Man,White,40000.0,2120.0

# ready to save work and start building dashboard

In [233]:
# if gender is nan it should be pref not to answer 
df_filtered['gender'] = df_filtered.apply(lambda row: 'Other or prefer not to answer' if pd.isnull(row['gender']) else row['gender'], axis=1)

C:\Users\drewg\AppData\Local\Temp\ipykernel_9156\1440391151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['gender'] = df_filtered.apply(lambda row: 'Other or prefer not to answer' if pd.isnull(row['gender']) else row['gender'], axis=1)

In [234]:
# commenting save out for time being while you explore errors found while building dashboard
# you dont want to go and save it again because last time you had 10 errors you had to fix manually before
# looker studio would accept it and i dont want to do that process over again. 


#df_filtered.to_csv('cleaned_dirty_dataset.csv',index=False)

In [235]:
# checking unique 
df_filtered['race'].unique()

array(['White', 'Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Black or African American',
       'Another option not listed here or prefer not to answer', nan,
       'Native American or Alaska Native',
       'Asian or Asian American, White',
       'Black or African American, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Hispanic, Latino, or Spanish origin',
       'Native American or Alaska Native, White',
       'Black or African American, White',
       'White, Another option not listed here or prefer not to answer',
       'Middle Eastern or Northern African',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Black or African American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer'],
      dtype=object)

In [236]:
# df clean canada still has state abbrev on end of city

In [237]:
# cleaning neatherlands, removing the from country where its the netherlands for consistancy

In [238]:
#df_clean['country'] = df_clean.apply(lambda row: row['country'].replace('the','') if row['country']=='the netherlands' else row['country'],axis=1)

In [239]:
# create a list of all unique states
# replace values in state column if state exists within city column
# going to do this with split and seeing if its in the other

In [240]:
# if the state exists as either split in the city column , place it in the state column if there is no value there
df['state'] = df.apply(lambda row: row['city'].split()[0] if row['city'].split()[0] in )

SyntaxError: expected 'else' after 'if' expression (3607764913.py, line 2)

In [ ]:
# need to figure out the mapping in city work where you do the san fran / chicagoland stuff without bricking program
# need to check if just state abbrev is in city column then put that to state 
# there has to be a way to see if either split of the city column contains either abbrev or full state and then replace it with nothing
# then i think you are ready to start building dashboard

In [ ]:
# there are lots of rows with mulitple entries. For sake of maintaining data quality 
# i think it would be in the best interest to remove these rows. 
# maybe further investigation is needed into rows containing more than 1 element to see if there 
# is a reason why

In [ ]:
# find a way to add the salary and comp to a new column without bricking everything X
# find a way to add the other currency into the main currency column without bricking X
# keep all currency columns so you can see salary, comp, and combined X
# need to check for a way to see if there is something already currently in the main currency column to avoid overwriting ? X
# are you going to have to find a way to sort through the other currency to find descrpencies that are the same thing ie abbevation and string ? ie USD and united states dollar X
# look into job title field? look at value counts? search doing soemthing like engineer% to see everything that contains engineer? to see if there is any overlap?
# Need to remove commas from salary X 
# other currency needs to be lowered X
# experience fields need to be cleaned ie '5-7 years' needs to be 6.  X
# lower country column 
# country column has us, usa ,U.S.,U.S.A  united states, united states of america etc.
# there is also lots of uk and u.k . Is there going to be a way to filter the data ? example - if x contains 'united' x = usa
# or regex somehow like u%s%%a = usa . Is that going to have errors? maybe create dataframe on these characteristics first before changing anything